# Binaries for programs and plugins
main
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# VSCode
.vscode/


# jetbrains related ignores
.idea/
**/*.iml
**/*.db

# netbeans related ignores
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

# Eclipse
.classpath
.project
.settings/

# system specific files
.DS_Store
